*,
::before,
::after {
   box-sizing: border-box; 
   margin: 0;
}

.header {
    width: auto;
    height: 64px;
    padding: 12px;
    margin: 6px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    background-color: #FDEFD5;
}

.side {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.item {
    padding: 8px 24px;
    background-color: #FFFFFF;
    color: blue;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Courier New', 'Courier', 'monospace';
}

.logo {
    padding: 2px 48px;
    color: #F66348;
    font-size: 2.5rem;
    font-weight: bold;
}